* {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}


.dashboard header {
    width: 100%;
    height: 50px;
    background-color: rgb(227, 227, 227);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10px;
}

.dashboard header h1 {
    margin-top: auto;
    font-weight: bold;
    color: #404040;
    text-shadow: 3px rgba(0, 0, 0, 0.8);
    margin-left: 10px;
    float: left;
}

#viewAccount {
    display: block;
    font-size: 35px;
    color: #404040;
    transition: .4s;
}

#viewAccount:hover {
    color: #34AC90;
}

#removeMargin {
    width: 100%;
}